
.my{
  @include flexbox(flex);
  @include flex-direction(column);
  height:100%;
  section{
    @include flex(1);
    width:100%;
    >div{
      div{
        &:nth-child(1){
          height:1.89rem;
          @include flexbox(flex);
          @include flex-direction(column);
          background:url("/course-Xue/img/pic/myb.png") no-repeat;
          @include justify-content();
          @include align-items();
          color:#fff;
          i{
            display: block;
            &:nth-child(1){
              height:.45rem;
              line-height: .45rem;
              font-size: .16rem;

            }
            &:nth-child(2){
              height:1.13rem;
              img{
                height:.91rem;
                width:.91rem;
              }
            }
            &:nth-child(3){
              line-height: 0;
              font-size: .12rem;
            }
          }
        }
        &:not(:nth-child(1)){
          height:.45rem;
          @include box-sizing();
          background:#fff;

          padding-left: .43rem;
          position: relative;
          p{
            &:nth-child(1){
              width:.21rem;
              height:.21rem;
              position: absolute;
              top:.12rem;
              left:.10rem;
              line-height: 0;
              img{
                width:100%;
                height:100%;
              }
            }
            &:nth-child(2){
              line-height: .45rem;
              font-size: .12rem;
              @include box-sizing();
              @include border(0 0 1px 0,#f0eff4);

            }
            &:nth-child(3){
              width:.08rem;
              height:.15rem;
              position: absolute;
              top:.15rem;
              right:.12rem;
              img{
                width:100%;
                height:100%;
              }
            }
          }
        }
      }
      .empty{
        height:.07rem;
        background:#f0eff4;
      }
    }
  }
}
